*
{
    background-color: #69b0e7;
}

.policy-page-heading-line
{
    width: 200px;
    background-color: black;
    color: black;
    padding-bottom: 5px;
}

.t
{
    padding-bottom: 5px;
    background-color: black;
    color: black;
}